.box{
    display: grid;
    /* grid-template-columns: 200px 300px 100px 50px; */
    /* grid-template-columns: 50% 20% 10% 20%; */
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: 200px 400px 200px;
    border: 1px solid  red;
    height: 600px;
    width: 800px;   
   
}

/* .box1{
height: 200px;
width: 150px;
border: 1px solid blue;
background-color: brown;
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 2;

} */

.box1{
height: auto;
width: auto;
border: 1px solid blue;
background-color: brown;
grid-column-start: 2;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 2;
}

.box2{
height: 200px;
width: 150px;
border: 1px solid red;
background-color: green;



}
.box3{
height: 200px;
width: 150px;
border: 1px solid green;
background-color: yellow;



}
.box4{
height: 200px;
width: 150px;
border: 1px solid orange;
background-color: brown;



}
