.box{
    display: grid;
    /* grid-template-columns: 200px 300px 100px 50px; */
    /* grid-template-columns: 50% 20% 10% 20%; */
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid  red;
    height: 600px;
    width: 800px;   
   
}

.box1{
height: 200px;
width: 150px;
border: 1px solid blue;


}
.box2{
height: 200px;
width: 150px;
border: 1px solid red;

}
.box3{
height: 200px;
width: 150px;
border: 1px solid green;


}
.box4{
height: 200px;
width: 150px;
border: 1px solid orange;


}
